/* CSS */

#jpath  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#jpath .src {
    background-color: #FFFF00;
    height: 200px;
}

#jpath .result {
    height: 200px;
}

#jpath .header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#jpath .header-item {
    width: 50%;
}

#jpath .body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#jpath .body-item {
    width: 50%;
}

.full-w {
    width: 100%;
}

.half-w {
    width: 50%;
}

#jpath .error {
    color: #ff0000;
    word-wrap: break-word;
}
